pip
python-dotenv
#ruff
-e .


invisible_watermark 
safetensors
wandb
hydra-core
omegaconf
diffusers 
torch
matplotlib


datasets>=2.19.1
accelerate==1.5.2
transformers==4.50.1
peft==0.7.0
hf_xet
xformers
# deepspeed

loguru
torchvision

# Coppied from llava

tokenizers>=0.15.0
sentencepiece==0.1.99
shortuuid
bitsandbytes==0.41.0
pydantic<2,>=1
markdown2[all]
#protobuf
protobuf==3.20.3
numpy==1.24.4
scikit-learn==1.3.2
requests
httpx==0.24.0
einops==0.6.1
einops-exts==0.0.4
timm==0.9.12
tiktoken
openai==1.12.0
backoff
gdown

opencv-python==4.11.0.86
flash_attn>=2.6.3