pip
python-dotenv
#ruff
-e .


invisible_watermark 
#transformers 
transformers==4.36.2
accelerate 
safetensors
wandb
hydra-core
omegaconf
diffusers 
torch
transformers
matplotlib
peft
hf_xet


loguru
torchvision

# Coppied from llava

tokenizers>=0.15.0
sentencepiece==0.1.99
shortuuid
bitsandbytes==0.41.0
pydantic<2,>=1
markdown2[all]
#protobuf
protobuf==3.20.3
numpy==1.23.5
scikit-learn==1.2.2
requests
httpx==0.24.0
einops==0.6.1
einops-exts==0.0.4
timm==0.9.12
tiktoken
openai==1.12.0
backoff